@import "tailwindcss";

:root {
  --electric-yellow: #FFD700;
  --electric-orange: #FFA500;
  --dark-gray: #1a1a1a;
  --deep-black: #0f0f0f;
  background-color: var(--deep-black);
}

@keyframes pulse-glow {

  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }
}

@keyframes thunderPulse {

  0%,
  100% {
    filter: drop-shadow(0 0 5px rgba(255, 215, 0, 0.6)) drop-shadow(0 0 8px rgba(255, 215, 0, 0.4));
    transform: translateY(0px) rotate(0deg) scale(1);
  }

  50% {
    filter:
      drop-shadow(0 0 10px #FFD700) drop-shadow(0 0 10px #FFD700);
    transform: translateY(-15px) rotate(-4deg) scale(1.05);

  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-15px) rotate(-4deg);
  }
}

@keyframes energy-pulse {

  0%,
  100% {
    box-shadow: 0 0 20px rgba(251, 191, 36, 0.3),
      0 0 40px rgba(251, 191, 36, 0.2);
  }

  50% {
    box-shadow: 0 0 40px rgba(251, 191, 36, 0.6),
      0 0 80px rgba(251, 191, 36, 0.4);
  }
}

.animate-pulse-glow {
  animation: pulse-glow 2s ease-in-out infinite;
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-thunderPulse {
  animation: thunderPulse 3s ease-in-out infinite
}

.animate-energy-pulse {
  animation: energy-pulse 2s ease-in-out infinite;
}